@charset "UTF-8"

@import 'stick/function'
@import 'stick/mixin'
@import 'tooltip'

html, body
  margin 0
  padding 0

html
  monospace()
  min-height 100%

  color gray
  background-color white

#info
  background red
  box-sizing border-box
  width 400px
  margin 0 auto
