.theTooltip
  $bgcolor = rgba(black, 0.7)
  $arrow = 10
  $radius = 5
  $maxWidth = 250
  $padding = 15

  backface-visibility hidden
  will-change: transform, opacity

  max-width $maxWidth * 1px
  border-radius $radius * 1px
  background-color $bgcolor
  padding $padding * 1px
  color white
  box-sizing border-box
  display block
  position absolute
  top 0
  left 0
  right auto
  bottom auto
  visibility hidden
  margin 0
  opacity 0
  transition opacity 0.3s ease-out
  z-index 100

  &:after
    width 0
    height 0
    border-left $arrow * 1px solid transparent
    border-right $arrow * 1px solid transparent
    border-top $arrow * 1px solid $bgcolor
    content ''
    position absolute
    left 50%
    bottom $arrow * -1px
    margin-left $arrow * -1px

  &.top:after
    border-top-color transparent
    border-bottom $arrow * 1px solid $bgcolor
    top $arrow * -2px
    bottom auto

  &--show
    visibility visible
    opacity 1
