$theTooltip = {
  bgcolor: rgba(black, 0.7)
  arrow: 10
  radius: 5
  maxWidth: 250
  padding: 15
}

.theTooltip
  max-width: $theTooltip.maxWidth * 1px
  border-radius: $theTooltip.radius * 1px
  background-color: $theTooltip.bgcolor
  padding: $theTooltip.padding * 1px
  color: white
  box-sizing: border-box
  display: inline-block
  position: absolute
  top: 0
  left: 0
  right: auto
  bottom: auto
  visibility: hidden
  margin: 0
  opacity: 0
  z-index: 100
  backface-visibility: hidden
  will-change: opacity
  transition: opacity 0.3s ease-out

  &:after
    width: 0
    height: 0
    border-left: $theTooltip.arrow * 1px solid transparent
    border-right: $theTooltip.arrow * 1px solid transparent
    border-top: $theTooltip.arrow * 1px solid $theTooltip.bgcolor
    content: ''
    position: absolute
    left: 50%
    bottom: $theTooltip.arrow * -1px
    margin-left: $theTooltip.arrow * -1px

  &--top:after
    border-top-color: transparent
    border-bottom: $theTooltip.arrow * 1px solid $theTooltip.bgcolor
    top: $theTooltip.arrow * -2px
    bottom: auto

  &--show
    visibility: visible
    opacity: 1
